.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: 0.7s ease;
}

.footer__column-link:hover {
  opacity: 0.4;
}
