.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;

}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
}

.header__main-illustration {
  position: absolute;
  z-index: 1;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
}

.header__title {
  width: 730px;
  z-index: 2;
  margin: 0;
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
}

.header__subtitle {
  width: 388px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  z-index: 2;
  position: absolute;
  top: 30px;
  left: 64px;
}


.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-top: 100px;
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
}

.two-columns__main-text {
  margin: 0;
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0;
}

.two-columns__paragraph:first-child {
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
  margin-top: 30px;
}

.two-columns__span-accent{
  margin: 0;
  line-height: 34px;
  font-weight: bold;
  font-size: 24px;
}

.digits {
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 100px;
}

.section-title {
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  width: 60%;
  line-height: 1.15em;
  font-size: 60px;

}

.section-subtitle {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  padding: 0;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  padding-top: 20px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 890px;
}

.feynman__title {
  padding-top: 100px;
  padding-bottom: 70px;
  line-height: 1.15;
  font-size: 120px;
  width: 648px;
  text-align: center;
  margin: 0 auto;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
}
.table_theme_dark {
  position: relative;
  padding-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.section-title_theme_dark {
  padding-top: 90px;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
}

.footer {
  background-color:#1f1f1f;
  min-height: 350px;
  display: flex;
}

.footer__columns {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  padding: 18px 0 18px 0;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  margin: 0;
  padding-bottom: 20px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}
