.khan__buy-link {
  position: relative;
  text-decoration: none;
  color: #2f80ed;
  margin: 0;
  padding-left: 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.buy-link:hover {
  opacity: 0.4;
  transition: 0.5s;
}
